# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# Creative files
/photoshop

# photos to upload to cloudinary
/post-photos

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.codegpt

# Ignore MLS scripts
src/scripts/mls/

# Ingore Spark Utils files (Temporary)
src/app/utils/spark

# Ingore Local Logs Folder
/local-logs
/src/generated/prisma
