@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000;
  --foreground: #fff;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Raleway', sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
}

h2 {
  scroll-margin-top: 120px; /* Adjust this value based on your header height */
}

a {
  text-decoration: none !important; /* Removes underline */
}